.pie{
    background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
}
.pie__contenido div a{
    color: aliceblue;
    text-decoration: none;
}
#slider img{
    height: 80vh;
    object-fit: cover;
}
#slider .overlay .container-fluid .row{
    height: 80vh;
}